.typewriter {
  font-family: monospace;
  white-space: pre-wrap;
  width: 50%; 
}

.body{
  display:flex; 
  flex-direction:row; 
  justify-content: space-evenly;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}